<!--FOOTER-->
    <footer>
        <div class="footer-info">
            <div>
                <h2>Kết nối với DanShop</h2>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Youtube</a>
            </div>
            <div>
                <h2>Thương hiệu thời trang nam DanShop</h2>
                <p>Email mua hàng:</p>
                <p>info@danshop.com</p>
            </div>
            <div>
                <h2>Về chúng tôi</h2>
                <a href="#">Giới thiệu DanShop</a>
                <a href="#">Liên hệ</a>
                <a href="#">Tuyển dụng</a>
            </div>
            <div>
                <h2>Trợ giúp</h2>
                <a href="#">Hướng dẫn mua hàng</a>
                <a href="#">Hướng dẫn chọn size</a>
                <a href="#">Câu hỏi thường gặp</a>
            </div>
            <div>
                <h2>Chính sách</h2>
                <a href="#">Chính sách khách VIP</a>
                <a href="#">Thanh toán - giao hàng</a>
                <a href="#">Chính sách đổi trả</a>
            </div>
        </div>

        <div class="footer-policy">
            <p>© 2025 by DanShop. All rights reserved.</p>
        </div>
    </footer>