<!--HEADER-->
    <header>
        <div class="logo"><a href="/index.html">DanShop</a></div>
        <nav>
            <ul class="menu">
                <li><a href="#">Hàng Mới</a></li>
                <li><a href="#">Bộ Sưu Tập</a></li>
                <li class="dropdown">
                    <a href="categories/ao.html">Áo</a>
                    <ul class="submenu">
                        <li><a href="categories/ao-so-mi.html">Áo Sơ Mi</a></li>
                        <li><a href="categories/ao-polo-va-rugby-shirt.html">Áo Polo & Rugby Shirt</a></li>
                        <li><a href="categories/ao-thun.html">Áo Thun</a></li>
                        <li><a href="categories/ao-khoac.html">Áo Khoác</a></li>
                        <li><a href="categories/ao-hoodie-va-sweatshirt.html">Áo Hoodie & Sweatshirt</a></li>
                        <li><a href="categories/ao-vest-va-ghi-le.html">Áo Vest & Ghi Lê</a></li>
                        <li><a href="categories/ao-len.html">Áo Len</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="categories/quan.html">Quần</a>
                    <ul class="submenu">
                        <li><a href="categories/quan-tay.html">Quần Tây</a></li>
                        <li><a href="categories/quan-jean.html">Quần Jean</a></li>
                        <li><a href="categories/quan-kaki.html">Quần Kaki</a></li>
                        <li><a href="categories/quan-jogger.html">Quần Jogger</a></li>
                        <li><a href="categories/quan-short.html">Quần Short</a></li>
                        <li><a href="categories/quan-lot.html">Quần Lót</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="categories/phu-kien.html">Phụ Kiện</a>
                    <ul class="submenu">
                        <li><a href="categories/giay-dep.html">Giày Dép</a></li>
                        <li><a href="categories/that-lung.html">Thắt Lưng</a></li>
                        <li><a href="categories/vi-da.html">Ví Da</a></li>
                        <li><a href="categories/ca-vat-va-no.html">Cà Vạt & Nơ</a></li>
                        <li><a href="categories/vo.html">Vớ</a></li>
                        <li><a href="categories/non-mu.html">Nón Mũ</a></li>
                        <li><a href="categories/tui-xach.html">Túi Xách</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="categories/outlet.html">Outlet Sale</a>
                    <ul class="submenu">
                        <li><a href="categories/outlet.html">Xem Tất Cả</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="categories/tim-kiem.html">Tìm kiếm</a>
                    <ul class="submenu">
                        <li></li>
                    </ul>
                </li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Giỏ hàng</a></li>
            </ul>
        </nav>
    </header>