/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2rem 2rem;
}

header .logo {
    font-size: 1.25rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 0.938rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-icons a {
    color: black;
    margin-left: 0.625rem;
}

/* CONTENT */
.banner img {
    width: 100%;
    height: auto;
}

.products-list {
    padding: 1.25rem;
}

.products {
    display: flex;
    gap: 1.25rem;
}

.product-card {
    border: 0.063rem solid #ddd;
    padding: 0.625rem;
    text-align: center;
}

.product-card img {
    width: 40%;
    height: auto;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    padding: 0.938rem;
    text-align: left;
}